<app-header></app-header>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Jardins</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped ">
            <thead>
                <tr>
                    
                    <th>Localisation</th>
                    <th>Name</th>
                    <th>Taille du jardin(m²)</th>
                   
                    <th>Type de jardin</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let garden of gardens | async ">
                    <td>{{garden.localisation}}</td>
                    <td>{{garden.name}}</td>
                    <td>{{garden.size}}</td>
                    <td>{{garden.typeOfGarden}}</td>
                    <td><button (click)="getAd(garden.address.id)" class="btn btn-danger">Voir l'addresse de ce jardin</button></td>
                    
                    <td><button (click)="get(garden.profil.id)" class="btn btn-info" style ="margin-left: 10px">Voir le profil</button></td>
                    <td><button (click)="getP()" class="btn btn-info" style ="margin-left: 10px">Retour aux Profils</button></td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>
