<div class="panel-heading">
    <h1>Profil associé au jardin</h1>
</div>
<div class="panel-body">
    <table class="table table-striped ">
        <thead>
            <tr>
               
                    <th>Localisation Garden</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Mail</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>{{profil.localisation}}</td>
                    <td>{{profil.name}}</td>
                    <td>{{profil.lastname}}</td>
                    <td>{{profil.mail}}</td>
                    <td>{{profil.phone}}</td>
                    <td>{{profil.gender}}</td>
            </tr>
            
        </tbody>
        
        <td><button (click)="get()" class="btn btn-info" style ="margin-left: 10px">Retour à la liste de Jardins</button></td>
        <td><button (click)="postMessage(garden.id)" class="btn btn-danger">Envoyer un message, au proprietaire de ce jardin</button></td>
    </table>
   
</div>

