<mat-card>
        <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <img src="assets/logo.png" alt="image">
                                </div>
                                
                               
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Informations</h3>
                                </div>
        
                                <ul class="twitter-widget footer-links">
                                    <li><a href="#"> Page d'accueil </a></li>
                                    <li><a href="#"> A propos de nous </a></li>
                                    <li><a href="#"> Nos services</a></li>
                                    <li><a href="#"> Nos jardins</a></li>
                                    <li><a href="#"> Contacter nous</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Contact Details</h3>
                                </div>
        
                                <ul class="footer-links">
                                    <li><a href="mailto:#">guillouxrem@gmail.com</a></li>
                                    <li><a href="#">www.Partageons-un-jardin.com</a></li>
                                    <li>3 rue de la ronce fleurie, 77950 VOISENON</li>
                                    <li>07 86 17 32 85</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Réseaux</h3>
                                </div>
                                <ul class="footer-links">
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i> Facebook</a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                  
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </footer>
        
            <div class="copyrights">
                <div class="container">
                    <div class="footer-distributed">
                        <div class="footer-left">
                            <p class="footer-company-name">Tous droit réservés. &copy; 2019 <a href="#">Partageons-un-Jardin</a> Créer par : <a href="https://github.com/RemyGuilloux/TousAuJardin/">Rémy GUILLOUX</a></p>
                        </div>
        
                        <div class="footer-right">
                            <form method="get" action="#">
                                <input placeholder="Subscribe our newsletter.." name="search">
                                <i class="fa fa-envelope-o"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</mat-card>
