<form id="login-form"
    class="spaced"
    [formGroup]="loginForm"
    (submit)="login()" >
    <mat-form-field appearance="legacy" color="primary">
        <mat-label> Quel est votre Pseudo ?</mat-label>
        <input matInput placeholder="your name" formControlName="username">
        <mat-error *ngFor="let validation of errorMessages.username">
            <mat-error *ngIf="username.hasError(validation.type) && (username.dirty || username.touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Quel est votre mot de passe ? </mat-label>
            <input type="password" matInput placeholder=" password" formControlName="password">
           
            <mat-error *ngFor="let validation of errorMessages.password">
                <mat-error *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">{{validation.message}}</mat-error>
            </mat-error>
    </mat-form-field>

    <footer fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button [disabled]="loginForm.invalid" color="primary" > Login </button>
    </footer>

</form>
