<mat-card>
<h1>Enregistrer votre Profil:</h1>
<div [hidden]="submitted" style="width: 400px;">

    <form (ngSubmit)="onSubmit()">
           
            <h3>Informations Profil</h3>
        <div class="form-group">
            <label for="name"> Prénom</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="profil.name" name="name">
        </div>

        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="profil.lastname" name="lastname">
        </div>

        <div class="form-group">
            <label for="mail">Mail</label>
            <input type="text" class="form-control" id="mail" required [(ngModel)]="profil.mail" name="mail">
        </div>

        <div class="form-group">
            <label for="phone">Téléphone</label>
            <input type="text" class="form-control" id="phone" required [(ngModel)]="profil.phone" name="phone">
        </div>

        <div class="form-group">
            <label for="gender">Sexe(Homme/Femme)</label>
            <input type="text" class="form-control" id="gender" required [(ngModel)]="profil.gender" name="gender">
        </div>

        <div class="form-group">
                <label for="localisation">Commune</label>
                <input type="text" class="form-control" id="localisation" required [(ngModel)]="profil.localisation" name="localisation">
            </div>
            <h3>Informations Jardin</h3>

            <div class="form-group">
                <label for="localisation1">Commune</label>
                <input type="text" class="form-control" id="localisation1" required [(ngModel)]="garden.localisation" name="localisation">
            </div>
    
            <div class="form-group">
                <label for="name1">Nom du jardin</label>
                <input type="text" class="form-control" id="name1" required [(ngModel)]="garden.name" name="name">
            </div>
    
            <div class="form-group">
                <label for="size">Taille</label>
                <input type="text" class="form-control" id="mail1" required [(ngModel)]="garden.size" name="size">
            </div>
    
            <div class="form-group">
                <label for="typeOfGarden">Type de Jardin(potager, jardin, autres)</label>
                <input type="text" class="form-control" id="typeOfGarden" required [(ngModel)]="garden.typeOfGarden" name="typdeOfGardene">
            </div>
            <h3>Informations Address</h3>

            <div class="form-group">
                <label for="num"> Numéro de la voie</label>
                <input type="text" class="form-control" id="num" required [(ngModel)]="address.num" name="num">
            </div>
    
            <div class="form-group">
                <label for="name2">libellé de la voie</label>
                <input type="text" class="form-control" id="name2" required [(ngModel)]="address.name" name="name">
            </div>
    
            <div class="form-group">
                <label for="town">Nom de la Commune</label>
                <input type="text" class="form-control" id="town" required [(ngModel)]="address.town" name="town">
            </div>
    
            <div class="form-group">
                <label for="zipcode">Code Postale</label>
                <input type="text" class="form-control" id="zipcode" required [(ngModel)]="address.zipcode" name="zipcode">
            </div>

<app-upload-file></app-upload-file>
          
        <button type="submit" class="btn btn-success">Envoyer</button>
    </form>


</div>
</mat-card>



<mat-card>

<td><button (click)="get()" class="btn btn-info" style ="margin-left: 10px">Retour au Profil</button></td>
</mat-card>

