<app-header></app-header>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Profils</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Localisation Garden</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Mail</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profil of profils | async ">
                        
                    <td>{{profil.localisation}}</td>
                    <td>{{profil.name}}</td>
                    <td>{{profil.lastname}}</td>
                    <td>{{profil.mail}}</td>
                    <td>{{profil.phone}}</td>
                    <td>{{profil.gender}}</td>
                    
                    <!-- <td><button (click)="Postmessage()" class="btn btn-danger">Send a message</button></td> -->
                    <td><button (click)="getH()" class="btn btn-info" style ="margin-left: 10px">Retour Accueil</button></td>
                </tr>
            </tbody>

        </table>
        
              
        
        <li class="nav-item" style="margin-left: 20px;"><a routerLink="/add" class="btn btn-primary active" role="button" routerLinkActive="active">Créer votre Profil</a> </li>
    </div>
</div>
